.principalCreateContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #3c5aa644;
}

.pokemonDetailStyled {
    background-color: #2149b0bb;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.form label {
    font-size: 1.3rem;
}

.form input {
    height: 1.25rem;
    margin-left: 0.5rem;
}

.form div {
    display: flex;
    justify-content: space-evenly;
}

.pokemonDetailTitle {
    color: #ffcb05;
    font-weight: bold;
    font-size: 2rem;
}

.containerBoton {
    border: 2px solid #3c5aa6;
    cursor: pointer;
    font-size: 1.1rem;
}

.containerBoton:hover {
    border: 2px solid #ffcb05bb;
    transition: all 0.3s;
}

.form {
  width: 250px;
}

.botonHome {
    margin-top: 3rem;
}

.formContainer {
    width: 400px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.4rem;
}

.imputCreate:focus {
    outline: none;
}

.typeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin: 0.75rem 0;
}

.error{
    border: 2px solid #e92929;
    transition: all 0.3s;
    outline: none;
}

.notError{
    border: 2px solid #3c5aa6;
    transition: all 0.3s;
    outline: none;
}

.pStyled{
    margin: 0;
    font-size: 0.75rem;
    color: #e92929;
}