/* import { PokemonDetailStyled, PokemonDetailTitle, PokemonDetailContainerCenter , PokemonDetailContainerLeft, DetailContainer,
    PrincipalContainer, PokeNameDetail, TituloEstadisticas, PokemonDetailContainerRight, ContainerBoton } from "../Styled";

export const PokemonDetailStyled = styled.div`
  background-color: ${azulFondo};
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
`

export const PokemonDetailTitle = styled.div`
  color: ${amarilloLetras};
  font-weight: bold;
  font-size: 2rem;
`

// *********** ESTILOS PARA EL CONTENEDOR DE LOS DETALLES DEL POKEMON **********************************************************************
export const PokemonDetailContainerLeft = styled.div`
  width: 40%;
`

// *********** ESTILOS PARA EL CONTENEDOR CENTRAL DE LOS DETALLES DEL POKEMON **********************************************************************
export const PokemonDetailContainerCenter = styled.div`
  width: 30%;
  display: flex;
  flex-direction: column;
`

// *********** ESTILOS PARA EL CONTENEDOR CENTRAL DE LOS DETALLES DEL POKEMON **********************************************************************
export const PokemonDetailContainerRight = styled.div`
  width: 30%;
`

// *********** ESTILOS PARA EL CONTENEDOR DE LOS DETALLES DEL POKEMON **********************************************************************
export const DetailContainer = styled.div`
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
`

export const PrincipalContainer = styled.div`
  width: 100%;
  min-height: 100vh;
  background-color: #3c5aa644;
`
// *********** ESTILOS DEL 'NAME' EN EL DETALLE DE LOS POKEMONS **********************************************************************
export const PokeNameDetail = styled.p`
 background-color: ${amarilloFondo};
 border-radius: 25px;
 width: 70%;
 color: ${azulLetras};
 font-size: 1rem;
 font-weight: 700;
 margin: 7px auto;
`

// *********** ESTILOS PARA EL CONTENEDOR DE LOS DETALLES DEL POKEMON **********************************************************************
export const TituloEstadisticas = styled.h2`
  margin: 8px;
  color: ${azulFondo}
`
*/

.pokemonsDetailStyled {
    background-color: #3c5aa6cc;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonDetailTitle2{
    color: #ffcb05;
    font-weight: bold;
    font-size: 2rem;
}

.detailContainerCenter {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.detailContainerLeft {
    width: 40%;
}

.detailContainerRight {
    width: 30%;
}

.detailContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.principalContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #3c5aa644;
}

.pokeNameDetail {
    background-color: #ffcb05bb;
    border-radius: 25px;
    width: 70%;
    color: #2a75bb;
    font-size: 1rem;
    font-weight: 700;
    margin: 7px auto;
}

.tituloEstadisticas {
    margin: 8px;
    color: #3c5aa6cc;
}

.containerBotonDetail {
    border: 2px solid #3c5aa6;
    cursor: pointer;
}

.containerBotonDetail:hover {
    border: 2px solid #ffcb05bb;
    transition: all 0.3s;
}