.pokemonsDetailStyled {
    background-color: #3c5aa6cc;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonDetailTitle2{
    color: #ffcb05;
    font-weight: bold;
    font-size: 2rem;
}

.detailContainer img {
    width: 300px;
    height: 350px;
}

.detailContainer {
    width: 1200px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}

.principalContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #3c5aa644;
}

.pokeNameDetail {
    background-color: #ffcb05bb;
    border-radius: 25px;
    width: 85%;
    color: #2a75bb;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 12px auto;
}

.tituloEstadisticas {
    margin: 8px;
    color: #3c5aa6cc;
}

.containerBotonDetail {
    border: 2px solid #3c5aa6;
    cursor: pointer;
    font-size: 1.25rem;
}

.containerBotonDetail:hover {
    border: 2px solid #ffcb05bb;
    transition: all 0.3s;
}

@media screen and (max-width:450px) {
    .principalContainer{
        width: 100%;
    }
    
    .detailContainer{
        width:100%;
        grid-template-columns: repeat(1, 100%);
        margin: 0;
    }

    .pokeNameDetail {
        width: 65%;
    }
}