.cardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.containerCard{
    margin: 0 auto;
    padding: 0 5rem;
}

.cardsContainer a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContainer {
    margin: 0;
    width: 100%;
    min-height: 85vh;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/df1y9kh-c0955b87-3708-4ff5-8d39-9c2f6869084e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwZmY1MjNmLWZmODQtNDU3ZC1hNTQ3LTQ2NDU4OGQzYTNkM1wvZGYxeTlraC1jMDk1NWI4Ny0zNzA4LTRmZjUtOGQzOS05YzJmNjg2OTA4NGUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CBw8EJITXnkaD1aX5NK92caGYvZxCh0oyFrPjyhSCjc);
    background-size: cover;
    padding-bottom: 25px;
}